@charset "utf-8"; 

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5rem);
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  color: var(--black);
}

header .header-inner{
  width: 100%;
  max-width: 140rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0.2rem);
}
header .logo-img{
  width: 4rem;
  transition: 0.3s;
  transform: translateY(-0.3rem);
}
header .logo-img:hover{
  transform: translateY(0);
}
header nav{
  display: flex;
  gap: 3rem;
  line-height: 6rem;
  font-size: 1.4rem;
}
header nav .icon{
  display: flex;
  gap: 2rem;
}
header nav a .bi{
  font-size: 1.8rem;
}
header nav a{
  text-align: center;
  transition: 0.25s;
}
header nav a:hover{
  transform: translateY(0.3rem);
  color: var(--primaryColor);
}

header.white-text {
  color: white;
}
header.white-text a,
header.white-text i {
  color: white;
}


footer{
  width: 100%;
  height: 2rem;
  border: 1px solid #000;
}



.section-title {
  font-size: 3rem;
  font-weight: 600;
  width: 100%;
  margin: 3rem 0;
  text-align: center;
  margin-top: 10rem;
}

#profile{
  background-color: var(--primaryColor);
}

#intro{
  background: linear-gradient(to top, #f36e3d, #fff, #fff);
}








/* swiper_________________ */
.swiper {
  width: 100%;
  height: 80rem;
  padding-top: 4rem;
}

.swiper-slide {
  /* background: #444; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: max-content;
}


.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet-active {
  background-color: var(--primaryColor);
  width: 1rem;
  height: 1rem;
}

.swiper-button-next, .swiper-button-prev{
  color: #eee;
  transition: 0.2s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
  color: var(--primaryColor);
}

.item-slide{
  display: flex;
  width: 110rem;
  align-items: center;
  justify-content: center;
}



/* 퍼블리싱_______________________ */
.uiux-img{
  width: 70rem;
}

.uiux-info{
  display: flex;
}

.uiux-text{
  display: flex;
  flex-direction: column;
  width: 38rem;
}
.uiux-text span{
  font-weight: 500;
}
.uiux-text h2{
  margin-bottom: 5rem;
}
.uiux-info-wrap{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.uiux-info h4{
  width: 12rem;
}
.uiux-info{
  display: flex;
  align-items: center;
}

.tool{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.tool img{
  width: 2rem;
  object-fit: cover;
}

.color{
  display: flex;
  gap: 1.5rem;
}
.color span{
  width: 1rem;
  height: 1rem;
}
.color span:nth-child(1){
  background-color: #F6EDD3;
}
.color span:nth-child(2){
  background-color: #0E3970;
}

.uiux-btn{
  display: flex;
  gap: 1.5rem;
  margin-top: 7rem;
}
.uiux-btn a{
  width: 12rem;
  height: 4rem;
  background-color: rgba(255,255,255,0.8);
  border-radius: 0.3rem;
  color: #333;
  border: 1px solid #eee;
  text-align: center;
  line-height: 4rem;
  transition: 0.3s;
  font-size: 1.4rem;
}
.uiux-btn a:hover{
  /* color: var(--primaryColor); */
  border-color: var(--black);
  background-color: #fff;
}







/* 그래픽________________________ */
section#graphic{
  height: max-content;
}
.items{ 
	margin:0 auto; 
}
.item-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
  gap: 2rem;
  padding: 1rem 0;
}
.item{
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}
.item h4{
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.item-img{
  width: 30rem;
  height: 25rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.item-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.item span{
  width: 30rem;
  height: 5rem;
  position: absolute;
  bottom: -5rem;
  left: 0;
  background-color: #111;
  color: #fff;
  transition: 0.3s;
  line-height: 5rem;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
}

.item :hover .item-img>span{
  bottom: 0;
}
.item :hover .item-img>img{
  transform: translateY(-1rem);
}



.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
    bottom: 10px;
}