@media (max-width: 1400px) {
  main{
    width: 100%;
  }
  section{
    padding: 5rem 3rem;
    height: max-content;
    width: 100%;
  }
  #intro{
    height: 100vh;
  }
  .header-inner{
    max-width: 140rem;
  }

  .swiper-button-next, .swiper-button-prev{
    opacity: 0;
  }

  .section-title{
    justify-items: center;
    margin-bottom: 3rem;
  }

  .profile-title{
    margin-top: 6rem;
    text-align: center;
  }

  .profile-wrap {
    flex-direction: column;
    align-items: center; 
    gap: 3rem; 
  }

  .profile-depth {
    width: 100%; /* 가득 차게 */
    align-items: center;
  }
  .profile-1, .profile-2{
    text-align: center;
  }

  .profile-info{
    width: 30rem;
    padding: 1rem 2rem;
  }
  .profile-info2 {
    width: 30rem;
    flex-direction: column;
    gap: 0;
    padding: 1rem 2rem;
  }

  .uiux-btn{
    width: max-content;
    margin-bottom: 5rem;
  }

  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, 
  .swiper-pagination-fraction {
    bottom: 0;
  }

}




@media (max-width: 768px) {

  main{
    width: 100%;
  }

  section{
    width: 100%;
    height: max-content;
    padding: 5rem 2rem;
  }
  #publishing{
    height: max-content;
  }

  .header-inner{
    max-width: 76.8rem;
  }

  .top{
    bottom: 3rem;
    right: 3rem;
  }

  .skills {
    flex-wrap: wrap;
    padding:2rem;
  }

  .swiper{
    margin-top: 1rem;
  }

  .swiper-slide{
    flex-direction: column-reverse;
    height: max-content;
    flex-shrink: 0;
    width: 100%;
  }

  .swiper-button-next, .swiper-button-prev{
    opacity: 0;
  }

  .uiux-left{
    padding: 0 2rem;
  }
  .uiux-info-wrap{
    margin-top: 1rem;
    gap: 0.5rem;
  }
  .uiux-text h2 {
    font-size: 2rem;
    margin: 0 0;
  }
  .uiux-text span{
    font-size: 1.5rem;
  }
  .uiux-text h4{
    font-size: 1.6rem;
  }
  .uiux-text p{
    font-size: 1.4rem;
  }

  .uiux-btn{
    margin-top: 2rem;
  }

  .keeword{
    margin-top: 1rem;
  }

  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, 
  .swiper-pagination-fraction {
    bottom: 0;
    width: 100%;
  }


}


@media (max-width:500px){
  main{
    width: 100%;
  }

  section{
    width: 100%;
    height: max-content;
  }

  .header-inner{
    width: 100%;
    max-width: 50rem;
  }

  .uiux-btn{
    flex-direction: column;
  }
}