.mockup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.iframe-url{
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;         
  -ms-overflow-style: none; 
  display: block;
}
.iframe-url::-webkit-scrollbar {
  display: none;              
}
.iframe-url img{
  position: static;
  display: block;
  width: 100%;
  height: auto;
  overflow-y: auto;
}




/* tab */
.mockup.tab{
  transform: rotate(-90deg);
}
.mockup .tab-mockup {
  border: 1px solid #eee;
  background-color: #fff;
  position: relative;
  border-radius: 60px;
  width: 840px;
  height: 1350px;
  box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.2);
}
.mockup .tab-mockup:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 99%;
  border-radius: 56px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.mockup .tab-mockup .tab-bd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 826px;
  height: 1336px;
  border-radius: 50px;
  background-color: #111;
}
.mockup .tab-mockup .tab-bd .camera {
  position: relative;
}
.mockup .tab-mockup .tab-bd .camera span {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #111;
}
.mockup .tab-mockup .tab-bd .iframe-url {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 768px;
  border-radius: 16px;
  background-color: #333;
  color: #fff;
}
.mockup .tab-mockup .power {
  position: absolute;
  top: 0;
  right: 60px;
}
.mockup .tab-mockup .power span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 8px;
  border-radius: 4px 4px 0 0;
  background-color: #eee;
}
.mockup .tab-mockup .volume {
  position: absolute;
  top: 0;
  right: 0;
  height: 300px;
}
.mockup .tab-mockup .volume span {
  z-index: -1;
  position: absolute;
  width: 8px;
  height: 60px;
  background-color: #eee;
  border-radius: 0 4px 4px 0;
}
.mockup .tab-mockup .volume span:nth-child(1) {
  bottom: 0;
}
.mockup .tab-mockup .volume span:nth-child(2) {
  bottom: 25%;
}



/* mob */
.mockup .mobile-mockup {
  border: 1px solid #eee;
  background-color: #fff;
  position: relative;
  width: 430px;
  height: 854px;
  border-radius: 64px;
  box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.2);
}
.mockup .mobile-mockup:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  height: 98%;
  border-radius: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.mockup .mobile-mockup .iframe-url {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 392px;
  height: 820px;
  border-radius: 60px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  border: 14px solid #111;
}
.mockup .mobile-mockup .camera {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 28px;
  border-radius: 20px;
  background-color: #131313;
  z-index: 10;
}
.mockup .mobile-mockup .camera span {
  position: absolute;
  top: 18%;
  left: 70%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
}
.mockup .mobile-mockup .volume {
  position: absolute;
  top: 20%;
  left: 0;
  width: 20px;
  height: 220px;
}
.mockup .mobile-mockup .volume span {
  position: absolute;
  transform: translateX(-50%);
  width: 13px;
  border-radius: 4px 0 0 4px;
}
.mockup .mobile-mockup .volume span:nth-child(1) {
  height: 40px;
  top: 0;
}
.mockup .mobile-mockup .volume span:nth-child(2) {
  height: 60px;
  top: 90px;
}
.mockup .mobile-mockup .volume span:nth-child(3) {
  height: 60px;
  bottom: 0;
}
.mockup .mobile-mockup .power {
  position: absolute;
  top: 30%;
  right: 0;
}
.mockup .mobile-mockup .power span {
  position: absolute;
  width: 7px;
  height: 90px;
  border-radius: 0 4px 4px 0;
}
.mockup .mobile-mockup .volume span,
.mockup .mobile-mockup .power span {
  background-color: #ddd;
  z-index: -1;
}

